@import './reset.css';
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");



.page-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background-color: #222;
  font: {
    family: roboto,sans-serif;
    weight: 800;
    
  }
  color:white;
}

page-info{
  display: flex;
    justify-content: center;
  align-items: center;
}

header{
  height: 60px;
  display: flex;
  justify-content: space-between;
}

section.canvas{
  background-color: lighten($color: #000000, $amount: 30);
  display: flex;
  justify-content: center;
  align-items: center;
}

$btn-bkg: #34ace0;

button { 
  font-weight: 800;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10vw;
  cursor: pointer;
  color: $btn-bkg;
  background-color: transparent;
  font-size: 1rem;
}

button , .fas { 
  
  &:hover{
    color: lighten($btn-bkg, $amount: 20)
  }

  &:active{
    font-weight: 900;
  }
}

